body {
    background-color: rgb(195, 173, 173);
    width: 1440px;
    padding-left: 10%;
    padding-right: 10%;
    }

.title 
{ 
    color:rgb(158, 185, 174);
    font-size: 40px;
    background-color: rgb(23, 30, 28);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic;
}
.img {
    height: auto;
    width: 400px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    color: rgb(24, 16, 16);
    font-size: 24px;
    font-weight: bold;
    
    padding-left: 10%;
    padding-right: 10%;
}

.subtitles {
    color:rgb(63, 39, 39);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px;
    border-color: black;
    font-style: italic;
}

.list,
.ingredients {
    color:rgb(12, 47, 6);
    font-size:16px;
    font-weight: 500;
}
.list {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(255, 235, 205, 0.334);
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-style: dashed;
    padding-top: 10px;
    
    padding-bottom: 10px;
    
}
.back {
    background-color: rgb(23, 30, 28);
    color:rgb(158, 185, 174);
    font-style: italic;
}